{
  "extends": ["next", "next/core-web-vitals"],
  "plugins": ["jest"],
  "rules": {
    "no-unused-vars": "error",
    "no-console": "off",
    "jest/expect-expect": [
      "error",
      {
        "assertFunctionNames": ["expect"]
      }
    ]
  }
}
